body {
    font-family: 'Verdana',sans-serif;
    margin: 0;
}

/*.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}*/

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgb(1, 26, 1) ;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 15px 8px; /* Updated padding for increased spacing */
    text-decoration: none;
    font-size: 18px;
    color: rgb(238, 245, 242);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main-content {
    margin-left: 295px;
    padding: 16px;
}

.active {
    background-color: #4CAF50;
    color: white;
}

pre{
    font-size: 16px;
}

p{
    font-size: 16px;
}

button {
    width: 150px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    font-size: 16px; /* Adjust the font size as needed */
}

code {
    display: block;
    background-color: rgb(160, 173, 160); /* Set your desired background color */
    border: 1px solid #1f2335; /* Set your desired border color */
    padding: 10px; /* Adjust padding as needed */
    border-radius: 5px; /* Set border-radius for rounded corners */
}

 #table
 table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}